KSP.*
*.tga
*.dll
*.pngcache
*.tcache
*.wav
*.truecolor
*.log
saves/Odyssey/Ships/VAB/Auto-Saved Ship.craft
KSP_Data/*
Launcher_Data/*
saves/scenarios/*
saves/training/*
GameData/000_Toolbar/*
GameData/ActiveTextureManagement/*
GameData/AerojetKerbodyne/*
GameData/AIES_Aerospace/*
GameData/blizzy/*
GameData/BoulderCo/*
GameData/BoxSat alpha/*
GameData/CameraTools/*
GameData/CommunityResourcePack/*
GameData/CrewManifest/*
GameData/CrossFeedEnabler/*
GameData/DeadlyReentry/*
GameData/DistantObject/*
GameData/EnvironmentalVisualEnhancements/*
GameData/EnhancedNavball/*
GameData/FerramAerospaceResearch/*
GameData/Fusebox/*
GameData/HullCameraVDS/*
GameData/Interstellar/*
GameData/JSI/*
GameData/Kethane/*
GameData/KAS/*
GameData/KerbalIspDifficultyScaler/*
GameData/Kerbaltek/*
GameData/KerbCam/*
GameData/Kerbinside/*
GameData/KOSMOS/*
GameData/LackMisc/*
GameData/MagicSmokeIndustries/*
GameData/MechJeb2/*
GameData/medsouz/*
GameData/MechJeb2/*
GameData/MP_Nazari/*
GameData/NASAmission/*
GameData/NavyFish/*
GameData/NearFutureElectrical/*
GameData/NearFuturePropulsion/*
GameData/Odyssey/Parts/CPUs/RadialProbe/*
GameData/Odyssey/Parts/Fuel/Tritank/*
GameData/Odyssey/Parts/Fuel/largeAdapterTank/*
GameData/PartHighlighter/*
GameData/PlanetShine/*
GameData/RCSBuildAid/*
GameData/RcsSounds/*
GameData/RealChute/*
GameData/RealFuels/*
GameData/RealSolarSystem/*
GameData/RemoteTech/*
GameData/SCANsat/*
GameData/sceneJumper/*
GameData/SimplePartOrganizer/*
GameData/SmokeScreen/*
GameData/Squad/*
GameData/SurfaceLights/*
GameData/TextureReplacer/*
GameData/ThunderAerospace/*.txt
GameData/ThunderAerospace/TacLifeSupport/*
GameData/Trajectories/*
GameData/TriggerTech/KerbalAlarmClock/*
GameData/TriggerTech/KSPAlternateResourcePanel/*
GameData/TweakScale/*
GameData/TweakableEverything/*
GameData/VesselView/*
GameData/ViewInternals/*
GameData/WheelSounds/*
