KSP.*
*.tga
*.dll
*.pngcache
*.tcache
*.wav
*.truecolor
saves/Odyssey/Ships/VAB/Auto-Saved Ship.craft
KSP_Data/*
Launcher_Data/*
saves/scenarios/*
saves/training/*
GameData/000_Toolbar/*
GameData/ActiveTextureManagement/*
GameData/BoulderCo/*
GameData/DistantObject/*
GameData/EnvironmentalVisualEnhancements/*
GameData/Fusebox/*
GameData/JSI/*
GameData/Kerbaltek/*
GameData/Kerbinside/*
GameData/LackMisc/*
GameData/MechJeb2/*
GameData/medsouz/*
GameData/NASAmission/*
GameData/PartHighlighter/*
GameData/sceneJumper/*
GameData/SimplePartOrganizer/*
GameData/Squad/*
GameData/TextureReplacer/*
GameData/ViewInternals/*
