<?xml version="1.0" encoding="utf-8"?>
<config>
    <string name="IspPreset0Name">Stock KSP</string>
    <string name="IspPreset0Description">This changes nothing!</string>
    <string name="IspPreset0Vac">1</string>
    <string name="IspPreset0Atm">1</string>
    <bool name="IspPreset0Extend">0</bool>
    <bool name="IspPreset0ThrustCorrection">0</bool>
    <string name="IspPreset1Name">KSP to Real Life, Raw</string>
    <string name="IspPreset1Description">Isp is scaled so that real-life scale mass ratios are necessary to get to orbit.  Isps are also reduced further at pressures greater than 1 atm.</string>
    <string name="IspPreset1Vac">0.48</string>
    <string name="IspPreset1Atm">0.48</string>
    <bool name="IspPreset1Extend">1</bool>
    <bool name="IspPreset1ThrustCorrection">1</bool>
    <string name="IspPreset2Name">KSP to Real Life, Adjusted</string>
    <string name="IspPreset2Description">Similar to the raw Real Life setting, this one includes a finagle factor to account for the larger masses of fuel tanks (when dry) and engines in KSP.  This setting is ideal for reproducing real life rockets.</string>
    <string name="IspPreset2Vac">0.55</string>
    <string name="IspPreset2Atm">0.55</string>
    <bool name="IspPreset2Extend">1</bool>
    <bool name="IspPreset2ThrustCorrection">1</bool>
    <string name="IspPreset3Name">FAR to Stock KSP, Universal</string>
    <string name="IspPreset3Description">Counteracts the reduction in dV to orbit caused by FAR's lower, more realistic drag; with this preset selected, rockets that would barely reach orbit in stock KSP should barely reach orbit with FAR installed.  Does have the side effect of increasing the fuel needed for space operations.</string>
    <string name="IspPreset3Vac">0.81</string>
    <string name="IspPreset3Atm">0.81</string>
    <bool name="IspPreset3Extend">0</bool>
    <bool name="IspPreset3ThrustCorrection">0</bool>
    <string name="IspPreset4Name">FAR to Stock KSP, Atmosphere Only</string>
    <string name="IspPreset4Description">Similar to the universal preset, but only modifies in-atmosphere Isps.  Heavily penalizes flying at higher air densities</string>
    <string name="IspPreset4Vac">1</string>
    <string name="IspPreset4Atm">0.38</string>
    <bool name="IspPreset4Extend">0</bool>
    <bool name="IspPreset4ThrustCorrection">0</bool>
    <string name="IspPreset5Name">FAR to Real Life, Raw</string>
    <string name="IspPreset5Description">Isp is scaled so that real-life scale mass ratios are necessary to get to orbit.  Isps are also reduced further at pressures greater than 1 atm.</string>
    <string name="IspPreset5Vac">0.39</string>
    <string name="IspPreset5Atm">0.39</string>
    <bool name="IspPreset5Extend">1</bool>
    <bool name="IspPreset5ThrustCorrection">1</bool>
    <string name="IspPreset6Name">FAR to Real Life, Adjusted</string>
    <string name="IspPreset6Description">Similar to the raw Real Life setting, this one includes a finagle factor to account for the larger masses of fuel tanks (when dry) and engines in KSP.  This setting is ideal for reproducing real life rockets.</string>
    <string name="IspPreset6Vac">0.45</string>
    <string name="IspPreset6Atm">0.45</string>
    <bool name="IspPreset6Extend">1</bool>
    <bool name="IspPreset6ThrustCorrection">1</bool>
    <string name="IspPreset7Name">RSS to Stock, Raw</string>
    <string name="IspPreset7Description">This reduces the mass ratios required to get to orbit in RSS + FAR to approximately what is needed in stock KSP.</string>
    <string name="IspPreset7Vac">2.1</string>
    <string name="IspPreset7Atm">2.1</string>
    <bool name="IspPreset7Extend">1</bool>
    <bool name="IspPreset7ThrustCorrection">1</bool>
    <string name="IspPreset8Name">RSS to Stock, Adjusted</string>
    <string name="IspPreset8Description">This reduces the mass ratios required to get to orbit in RSS + FAR to approximately what is needed in stock KSP, along with some adjustments to counter RF's change to tank and engine dry masses.</string>
    <string name="IspPreset8Vac">1.6</string>
    <string name="IspPreset8Atm">1.6</string>
    <bool name="IspPreset8Extend">1</bool>
    <bool name="IspPreset8ThrustCorrection">1</bool>
    <string name="IspPreset0RatingIspCutoff">-1</string>
    <string name="IspPreset0RatingThrustCutoff">-1</string>
    <string name="IspPreset1RatingIspCutoff">385</string>
    <string name="IspPreset1RatingThrustCutoff">200</string>
    <string name="IspPreset2RatingIspCutoff">385</string>
    <string name="IspPreset2RatingThrustCutoff">200</string>
    <string name="IspPreset3RatingIspCutoff">-1</string>
    <string name="IspPreset3RatingThrustCutoff">-1</string>
    <string name="IspPreset4RatingIspCutoff">-1</string>
    <string name="IspPreset4RatingThrustCutoff">-1</string>
    <string name="IspPreset5RatingIspCutoff">385</string>
    <string name="IspPreset5RatingThrustCutoff">200</string>
    <string name="IspPreset6RatingIspCutoff">385</string>
    <string name="IspPreset6RatingThrustCutoff">200</string>
    <string name="IspPreset7RatingIspCutoff">-1</string>
    <string name="IspPreset7RatingThrustCutoff">-1</string>
    <string name="IspPreset8RatingIspCutoff">-1</string>
    <string name="IspPreset8RatingThrustCutoff">-1</string>
    <string name="SelectedPresetferram test (SANDBOX)">6</string>
    <string name="SelectedPresetdefault (CAREER)">0</string>
    <string name="SelectedPresetdefault 2 (SANDBOX)">0</string>
    <string name="IspPreset9Name">Odyssey</string>
    <string name="SelectedPresetOdyssey (SANDBOX)">9</string>
    <string name="IspPreset9Description">Describe this preset here!</string>
    <string name="IspPreset9Vac">0.8</string>
    <string name="IspPreset9Atm">0.8</string>
    <bool name="IspPreset9Extend">0</bool>
    <bool name="IspPreset9ThrustCorrection">1</bool>
    <string name="IspPreset9RatingIspCutoff">330</string>
    <string name="IspPreset9RatingThrustCutoff">-1</string>
    <string name="IspPreset10Name">NothingHere</string>
</config>